.main {
  background-image:url('images/background.png');
  background-repeat:no-repeat;
  background-size:1294;
  background-position:0;
  background-position-y:-160;
  height:845px;
  width:1262px;
  margin-bottom:50px;
}

.search {
  margin-bottom: 95px;
  margin-left: 180px;
  margin-top: 50px;
}

.categories {
  height:450px;
  overflow:auto;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  visibility:hidden;
}
